.text-center {
  text-align: center;
}

.tab-pane {
  padding-top: 10px;
}

/* Make tables look responsive by showing scrollbars if they are too big.
 *
 * needed for table previews of advancedTableFileLoader
 */
.shiny-bound-output {
  overflow: scroll;
  width: 100%;
}
